{% extends "main/shablon.html" %}
{% block content %}
    <h1>
        <div>Дело №{{lawsuit.id}}</div>
    </h1>
    <h2>
        <div>Дата: {{lawsuit.date}}</div>
        <div>Информация: {{lawsuit.info}}</div>
    </h2>
{% endblock content %}
{% block content2 %}
<input type="submit" value='Изменить' class="btn btn-info" onclick="window.location='/lawsuit/{{lawsuit.id}}/update'">
<input type="submit" value='Удалить' class="btn btn-danger" onclick="window.location='/lawsuit/{{lawsuit.id}}/delete'">
{% endblock content2 %}