{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблицы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>  
    <div class="flex-div">
        <table><tr><th colspan="2">Дела</th></tr><tr><th>id_lawsuit</th><th>Дата</th></tr>
            {% for elem in lawsuits_dates %}
                <tr>
                    <td style='width: 50px;'>{{ elem.id }}</td>
                    <td>{{ elem.date }}</td>
                    <td>
                        <input type="submit" value='Просмотреть' class="btn btn-info" onclick="window.location='/lawsuit/{{elem.id}}'">
                    </td>
                </tr>

            {% endfor %}
            <tr style="height: 50px;">
                <td colspan="2"><a style='btn btn-outline-primary' href="{% url "lawsuit" %}">Добавить</a></td>
            </tr>
        </table>
        <table><tr><th colspan="2">Дела ответственных</th></tr><tr><th>id_lawsuit</th><th>id_responsible</th></tr>
            {% for elem in lawsuits %}
                <tr><td>{{ elem.lawsuit_id }}</td><td>{{ elem.responsible_id }}</td>
                    <td>
                        <input type="submit" value='Просмотреть' class="btn btn-info" onclick="window.location='/responsible-lawsuit/{{elem.id}}'">
                    </td>
                </tr>
            {% endfor %}
            <tr style="height: 50px;">
                <td colspan="2">
                    <a style='btn btn-primary' href="{% url "responsible-lawsuit" %}">Добавить</a>
                </td>
            </tr>

        </table>
        <table><tr><th colspan="2">Ответственные</th></tr><tr><th>id_responsible</th><th>fio</th></tr>
            {% for elem in responsible_for_lawsuits %}
                <tr><td>{{ elem.id }}</td><td>{{ elem.name }}</td>
                    <td>
                        <input type="submit" value='Просмотреть' class="btn btn-info" onclick="window.location='/responsible/{{elem.id}}'">
                    </td>
                </tr>
            {% endfor %}
            <tr style="height: 50px;">
                <td colspan="2">  
                    <a style='btn btn-primary' href="{% url "responsible" %}">Добавить</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>